@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<CurrencyEntity>;

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <table class="table table-bordered" style="margin-top: 10px">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Volume</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Volume</td>
                        <td>@item.Amount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
