@{
    ViewData["Title"] = "Home Page";
}
@model List<CurrencyEntity>;

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <table>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Volume</td>
                    <td>@item.Amount</td>
                </tr>
            }
        </table>
    </div>
</div>
